@CHARSET "ISO-8859-1";
body {
				padding: 0;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 13px;
				color: #878787;
				margin: 0;
				background: #f6f0e7;
		}
		


#wrap{
					margin: 0 auto;
					width: 956px;
					padding: 0 20px 0 26px;
				}	
			
			

#sidebar {
						float: left;
						width: 210px;
						height: 934px;
						padding: 22px 9px 0 10px;
						background: #bd5353;
			}

#main {
		
			float: right;
			width: 710px;
}

	